@using BFCNews.Data;
@using BinhdienNews.Models;
@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    @inject UserManager<ApplicationUser> userManager
    @inject ApplicationDbContext context;
    var allUsers =  userManager.Users;
    var roles = ViewBag.Roles;
    var departments = context.Departments;
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title">Data Table User</h1>
                        <!-- Main content -->
                        <!-- Button to Open the Modal -->
                        <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#modal-Add-Account">
                            Thêm
                        </button>
                        <!-- Modal -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tbAccount" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Avatar</th>
                                    <th>UserName</th>
                                    <th>Họ Tên</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Level</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (allUsers != null)
                                    {
                                        foreach (var user in allUsers)
                                        {
                                            <tr>
                                                <td>
                                                    <img src="../../Uploads/@user.Avatar" class="img thumnail" alt="User Image" style="height:35px;width:35px">
                                                </td>
                                                <td>@user.UserName</td>
                                                <td>@user.FullName</td>
                                                <td>@user.Email</td>
                                                <td>@userManager.GetRolesAsync(user).GetAwaiter().GetResult().FirstOrDefault()</td>
                                                @if (userManager.GetRolesAsync(user).GetAwaiter().GetResult().FirstOrDefault() == "Admin" || userManager.GetRolesAsync(user).GetAwaiter().GetResult().FirstOrDefault() == "SuperAdmin")
                                                {
                                                    <td>LevelMax</td>
                                                }
                                                else
                                                {
                                                    @foreach (var claim in await userManager.GetClaimsAsync(user))
                                                    {
                                                        @if (claim.Value == "")
                                                        {
                                                            <td>Level0</td>
                                                        }
                                                        else
                                                        {
                                                            <td>@claim.Value</td>
                                                        }
                                                    }
                                                }
                                                <td>
                                                    <button class="btn btn-warning" onclick="location.href='@(Url.Action("EditUser", "User", new { @Id = user.Id }))'">
                                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                                    </button>
                                                    @if (user.LockoutEnabled == true)
                                                    {
                                                        <button class="btn btn-primary">
                                                            <i class="fas fa-lock" aria-hidden="true"></i>
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button class="btn btn-danger">
                                                            <i class="fas fa-lock-open" aria-hidden="true"></i>
                                                        </button>
                                                     }
                                                    
                                                </td>
                                            </tr>
                                        };
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!--Modal Add-->
<div class="modal fade" id="modal-Add-Account" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-Add-Account" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="fullName">Full Name</label>
                        <input type="text" id="fullName" name="fullName" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="userName">Username</label>
                        <input type="text" id="userName" name="userName" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="Role">Role</label>
                        <select id="Role" name="Role" class="custom-select">
                            @{
                                if (roles != null)
                                {
                                   foreach(var item in roles)
                                    {
                                            <option value="@item.Name">@item.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group" style="display: none;" id="inputPosition">
                        <label for="Position">Chức vụ</label>
                        <select id="Position" name="Position" class="custom-select">
                               <option value="VipManager">Tổng giám đốc</option>
                               <option value="SuperManager">Phó Tổng Giám Đốc</option>
                               <option value="Manager">Trưởng/Phó Phòng</option>
                               <option value="Employee">Nhân viên</option>
                        </select>
                    </div>
                    <div class="form-group" style="display: none;" id="inputDepartment">
                        <label for="Department">Phòng Ban</label>
                        <select class="js-example-basic-multiple" id="Department-select" name="Department" multiple="multiple" style="position: absolute; top: 0px; left: 0px; height: 5px; width: 100%;">
                            @foreach (var item in departments)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group" id="Claim" style="display: none;">
                        <label for="userClaim">User Level</label>
                        <select id="userClaim" name="userClaim" class="custom-select">
                            <option value="Level1">Level1</option>
                            <option value="Level2">Level2</option>
                            <option value="Level3">Level3</option>
                            <option value="Level4">Level4</option>
                        </select>
                    </div>   
                    <div class="form-group">
                        <label for="avatar">Profile Picture</label>
                        <input type="file" id="avatar" name="avatar" class="form-control-file" />
                    </div>
                    <div><img id="avatarDisplay" style="height: 100px; width: 100px"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="btnAdd">Register</button>
            </div>
        </div>
    </div>
</div>
<!--End Modal Add-->
<!--Modal Delete-->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="deleteModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-delete-department-lb"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <br />
            <h5 style="text-align:center" id="content-modal-delete-department">Bạn có thực sự muốn xóa Phòng này không?</h5>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="modal-btn-department-yes">Yes</button>
                <button type="button" class="btn btn-primary" id="modal-btn-department-no">No</button>
            </div>
        </div>
    </div>
</div>
<!--End Modal Delete-->