@{
@using BFCNews.Data;
    @using BinhdienNews.Models;
    @using Microsoft.AspNetCore.Identity
    @inject SignInManager<ApplicationUser> SignInManager
    @inject UserManager<ApplicationUser> userManager
    @inject ApplicationDbContext context
    var departmentAside = context.Departments.ToList();
    var currentDepartment = ViewBag.CurrentDepartment;
    var activeLink = ViewBag.Activelink;
}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link">
        <img src="../../dist/img/logobinhdien.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Admin News</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        @if (SignInManager.IsSignedIn(User))
        {
            var user = await userManager.FindByNameAsync(User.Identity.Name);
            if (user != null && !string.IsNullOrEmpty(user.Avatar))
            {
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                    <img src="../../Uploads/@user.Avatar" class="img-circle elevation-2" alt="User Image" style="height:35px;width:35px">
                </div>
                <div class="info">
                        <div class="d-block" style="color:white"><a href="@(Url.Action("UserDetails", "User", new { @Id = user.Id }))">@user.FullName</a></div><a href="@Url.Action("Logout","User")">Logout</a>
                </div>
            </div>
            }
        }
        else
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="../../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href=@Url.Action("login","User") class="d-block">Login</a>
                </div>
            </div>
        }         
        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        @if (SignInManager.IsSignedIn(User))
        {
            var user = await userManager.FindByNameAsync(User.Identity.Name);
            var isInRoleAdmin = await userManager.IsInRoleAsync(user, "Admin");
            var isInRoleSuperAdmin = await userManager.IsInRoleAsync(user, "SuperAdmin");
            <nav class="mt-2">
                @if (isInRoleSuperAdmin)
                {
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" id="sidebarAdmin">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Department", new{activelink="department"})" class="nav-link @(activeLink=="department" ? "active" :"")" id="department" data-id="Department">
                                <i class="nav-icon fas fa fa-building"></i>
                                <p>
                                    Deparment
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Role", new{activelink="role"} )" class="nav-link @(activeLink=="role" ? "active" :"")">
                                <i class="nav-icon fas fa-user-tie"></i>
                                <p>
                                    Role
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Register","User",new{activelink="user"})" class="nav-link @(activeLink=="user" ? "active" :"")">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Create Account
                                </p>
                            </a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link">
                                <i class="nav-icon fa fa-tasks"></i>
                                <p>
                                    Management
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Posts", "Management", new { department = "All" })" class="nav-link @(currentDepartment == "All" ? "active" : "")">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Tất cả post</p>
                                    </a>
                                </li>
                                @if (departmentAside != null)
                                {
                                    foreach (var item in departmentAside)
                                    {
                                        <li class="nav-item">
                                            <a href="@Url.Action("Posts", "Management", new { department = item.Name })" class="nav-link @(currentDepartment == item.Name ? "active" : "")">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>@item.Name</p>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                     </ul>
                }
                else if (isInRoleAdmin)
                {
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" id="sidebarAdmin">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Department", new{activelink="department"})" class="nav-link @(activeLink=="department" ? "active" :"")" id="department" data-id="Department">
                                <i class="nav-icon fas fa fa-building"></i>
                                <p>
                                    Deparment
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="nav-icon fa fa-tasks"></i>
                                <p>
                                    Management
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Posts", "Management", new { department = "All" })" class="nav-link @(currentDepartment == "All" ? "active" : "")">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Tất cả post</p>
                                    </a>
                                </li>
                                @if (departmentAside != null)
                                {
                                    foreach (var item in departmentAside)
                                    {
                                        <li class="nav-item">
                                            <a href="@Url.Action("Posts", "Management", new { department = item.Name })" class="nav-link @(currentDepartment == item.Name ? "active" : "")">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>@item.Name</p>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" id="sidebarAdmin">
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="nav-icon fa fa-tasks"></i>
                                <p>
                                    Management
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Posts", "Management", new { department = "All" })" class="nav-link @(currentDepartment == "All" ? "active" : "")">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Tất cả post</p>
                                    </a>
                                </li>
                                @if (departmentAside != null)
                                {
                                    foreach (var item in departmentAside)
                                    {
                                        <li class="nav-item">
                                            <a href="@Url.Action("Posts", "Management", new { department = item.Name })" class="nav-link @(currentDepartment == item.Name ? "active" : "")">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>@item.Name</p>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    </ul>
                }
            </nav>
        }
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
